.linhaBotao{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.linhaBotao select{
    height: 50px;
    width: 10%;
    border-radius: 3ch;
    text-align: center;
    font-size: large;
    padding: 5px;
}

@media screen and (max-width: 800px) {
    .linhaBotao select{
        height: 35px;
        width: 100px;
        font-size: 1rem;
    }
}

.linhaBotao button{
    border-radius: 3ch;
    background-color: #4CAF50;
    font-size: 2rem;
    width: 16%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 100px;
}

@media screen and (max-width: 1600px) {
    .linhaBotao button {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 1rem;
    }
}

.linhaBotao button:hover{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #39863b;
    box-shadow: 5px 5px 10px rgb(70, 70, 70);
    border: none;
}