header {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

nav{
    display: flex;
    background-color: #4CAF50;
    align-items: center;
    justify-content: center;
}

a {
    font-weight: 500;
    color: white;
    text-decoration: inherit;
    padding: 15px;
    background-color: #4CAF50;
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
    transition: 0.2s;
}

@media screen and (max-width: 600px) {
    a {
        font-size: 1rem;
    }
}

nav a:hover {
    padding: 20px;
    background-color: #39863b;
    box-shadow: 5px 5px 10px rgb(70, 70, 70);
}

.rotate {
    animation: rotation 8s infinite linear;
    height: 60px;
}

@media screen and (max-width: 600px) {
    .rotate {
        height: 0px;
    }
}

.rotate2 {
    animation: rotation 5s infinite;
    height: 50px;
}

@media screen and (max-width: 600px) {
    .rotate2 {
        height: 0px;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(719deg);
    }
}

.animation1 {
    animation: 3s linear 1s infinite alternate;
}

.imagensHeader{
    display: flex;
    gap: 30px;
}