header {
    background-color: #89e365;
    color: black;
    padding: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    border: none;
}

nav{
    display: flex;
    background-color: #89e365;
    align-items: center;
    justify-content: center;
    margin-top: -1px;
    margin-bottom: 5%;
}

a {
    font-weight: 500;
    color: black;
    text-decoration: inherit;
    padding: 15px;
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
    transition: 0.2s;
    border-radius: 1ch;
    border: none;
}

@media screen and (max-width: 600px) {
    a {
        font-size: 0.9rem;
        padding: 10px;
        width: 25%;
    }

    .rotate {
        display: none;
    }

    .rotate2 {
        display: none;
    }
}

nav a:hover {
    padding: 20px;
    background-color: #39863b;
    box-shadow: 5px 5px 10px rgb(70, 70, 70);
}

.rotate {
    animation: rotation 8s infinite linear;
    height: 60px;
}

.rotate2 {
    animation: rotation 5s infinite;
    height: 50px;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(719deg);
    }
}

.animation1 {
    animation: 3s linear 1s infinite alternate;
}

.imagensHeader{
    display: flex;
    gap: 30px;
}